.header-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100px;

  justify-content: center;
}
header {
  text-align: center;
}
:root {
  --primary-color: white;
  --secondary-color: black;
  filter: invert(0%);
}
.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}
.image-dark {
  filter: invert(100%);
}
.logo-dark {
  filter: invert(100%);
}
.image {
  margin-left: 5px;
  width: 180px;
}
#icon {
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
  width: 22px;
  margin-left: 4px;
}
h1 {
  margin: 0;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100%;
}
html {
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
}
.main {
  box-shadow: 0 0 0 1px var(--secondary-color), 0 2px 3px var(--secondary-color);
  border-radius: 2px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  flex: 1;
}
h2 {
  margin: 5px 0;
  color: var(--secondary-color);
  font-weight: 100;
  font-size: 1.2em;
}
table {
  width: 100%;
}
footer {
  margin-top: 5px;
}
a {
  text-decoration: none;
}
